.divLogin {
    margin-top: 20%;
    text-align: center;
    box-shadow: 0px 0px 4px 2px #888888;
}

.divLoginHeader {
    background-color: #188db1;
    text-align: center;
    color: #ffffff;
    padding: 3%;
}